@import '../../../assets/styles/variable.scss';

.thumbnail {
    background-image: url('https://bookingcare.vn/assets/anh/bookingcare-cover-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 50%;
    position: relative;

    .background_opacity {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;

        .header_title {
            margin-top: 40px;
            text-align: center;
            color: white;
            text-transform: uppercase;
            font-size: 2.4rem;
            text-shadow: 1px 1px 1px #888;
            letter-spacing: 3px;

            p:first-child {
                margin-bottom: 10px;

            }

            p:last-child {
                font-weight: 600;
            }
        }

        .header_search {
            display: flex;
            background-color: #f7d800;
            margin: 20px auto;
            padding: 6px 20px;
            border-radius: 20px;
            align-items: center;
            width: 400px;

            .search_input {
                width: 100%;
                margin-left: 10px;
                background-color: transparent;
                outline: none;
                border: none;
                padding: 5px;
                font-size: 1.7rem;
            }
        }

        .header_download {
            display: flex;
            justify-content: center;
            gap: 30px;
            margin-top: 10px;

            img {
                cursor: pointer;
                width: 120px;
                border-radius: 25px;
            }
        }

        .header_select {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            position: absolute;
            bottom: 0;
            width: 100%;
            background-image: linear-gradient(rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));

            .select_item {
                font-size: 1.6rem;
                font-weight: 600;
                cursor: pointer;
                text-align: center;
                margin-bottom: 25px;

                i {
                    font-size: 2.4rem;
                    color: $blue-color;
                    padding: 15px;
                    margin-bottom: 25px;
                    background-color: white;
                    border-radius: 50%;
                }

                p {
                    opacity: 0.7;

                    &:hover {
                        color: $blue-color;
                    }
                }
            }
        }
    }
}