@import '../../../assets/styles/variable.scss';

.manage_handbook {
    .container_handbook {
        position: relative;

        .create_new_option {
            position: absolute;
            top: -25px;
            left: 50px;
            padding: 5px 20px;
            font-size: 1.5rem;
        }

        #form_handbook_detail {
            .grid_row {
                margin: 0 -20px;

                >div {
                    padding: 0 20px;
                    margin-top: 20px;

                    .item_input {
                        font-size: 1.8rem;

                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}