@import '../../../assets/styles/variable.scss';

.container_userEdit {

    #form_userEdit {
        background-color: white;
        position: relative;
        padding: 23px 35px;
        border-radius: 20px;

        .userEdit_language {
            position: absolute;
            top: 20px;
            right: 30px;
        }

        .grid_row {
            >div {
                margin-top: 30px;
                padding: 0 40px;

                .item_input {
                    position: relative;

                    input[type="passsword"]::-webkit-outer-spin-button,
                    ::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }

                    input {
                        width: 100%;
                    }

                    &.userEdit_gender {
                        input {
                            transform: scale(1.1)
                        }

                        label {
                            width: 100%;
                            text-align: center;
                        }
                    }
                }

                .container_gender {
                    display: flex;

                    label {
                        margin-left: 7px;
                    }
                }
            }
        }
    }

    .userEdit_submit {
        margin: 20px auto !important;
        width: 350px;
        max-width: 100%;
        background-color: $blue-color;
    }

    .userEdit_link {
        width: 500px;
    }
}